# Python Assignment 1

In [1]:
#1. In the below elements which of them are values or an expression?

Values are: 'hello' ,-87.8 , 6

expressions are: * , - , + , /

As all the mathematical values comes under expression and all the string or integer will be values

In [3]:
#2. What is the difference between string and variable?

A variable is used to store the information in the program .A variable can store any datatype.

A String is a type of information which is stored into a variable.String is used to represent a text datatype.

A string is usually words inclosed with double ("") or single ('') quotes.

For Example :- X = "Book" Here X is a variable which stores the information Book and Book is a string enclosed in double quotes.

In [4]:
#3. Describe three different data types.

3  Datatypes in Python are Numeric, String and Boolean

Numeric- Numeric data type contains any numeric data like integers or float data.
        Ex: X=0.2 ,Y= 88 Both X & Y have numeric data type.

String -Strings are sequences of character data. A string is usually words inclosed with double ("") or single ('') quotes.
        Ex: S="Sweets",Here S has string data type.

Boolean - The Boolean data type can have only 2 values(True or False)
        Ex: B = True ,Here the datatype of B is Boolean .

In [5]:
#4. What is an expression made up of? What do all expressions do?

An expression is  made up of operators and operands.

Expression is interpreted to produce some other value.

Ex: X = a+b-7
    Here a+b-7  is an expression ,+,- are operators and a,b & 7 are operands

In [ ]:
#5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Expressions produce a value, and that value will be passed into the function.
spam = 10 is an expression here as spam  produces a value 10

Statements don't produce a value, and so they can't be used as function arguments.Its a action or a command that does something. Ex: If-Else,Loops..etc

In [6]:
#6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

23

Here the variable bacon contains the value 23 after running the command.

In [9]:
#7. What should the values of the following two terms be?
'spam'+'spamspam'
#'spam'*3

'spamspamspam'

In [8]:
'spam'*3

'spamspamspam'

The output of both the terms will be 'spamspamspam'

In [10]:
#8. Why is eggs a valid variable name while 100 is invalid?

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume)thats why eggs is a valid variable

But a variable cant start with numbers thats why 100 is invalid variable here.

In [11]:
#9. What three functions can be used to get the integer, floating-point number, or string version of a value?

The int(),float(),str() can be used to get the integer, floating-point number, or string version of a value

In [12]:
#10. Why does this expression cause an error? How can you fix it? 'I have eaten' + 99 +  'burritos'

In [13]:
'I have eaten' + 99 +  'burritos'

TypeError: can only concatenate str (not "int") to str

This expression is causing an error as we can not add different data types at a same time ,for this we have to covert 99 into string .

In [17]:
#Just enclose the 99 into quotes
'I have eaten' + '99' +  'burritos'

'I have eaten99burritos'

In [15]:
#Alternate method typecasting
'I have eaten' + str(99) +  'burritos'

'I have eaten99burritos'